<div class="card">
  <div class="card-header">
    TimeSeries Analysis Settings
  </div>

  <div class="card-body">
    <form novalidate
          (ngSubmit)="submit()"
          [formGroup]="settingsForm">


      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="dateColumnName">Date Column Name</label>
        <div class="col-md-4">
          <input class="form-control"
                id="dateColumnName"
                type="text"
                placeholder="Date column name in excel (required)"
                formControlName="dateColumnName"
                [ngClass]="{'is-invalid': errorMessagePerInput.dateColumnName}" />
          <span class="invalid-feedback">
            {{ errorMessagePerInput.dateColumnName }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2 ">
        <label class="col-md-2 col-form-label"
              for="valueColumnName">Value Column Name</label>
        <div class="col-md-4">
          <input class="form-control"
                id="valueColumnName"
                type="text"
                placeholder="Value column name in excel (required)"
                formControlName="valueColumnName"
                [ngClass]="{'is-invalid': errorMessagePerInput.valueColumnName }" />
          <span class="invalid-feedback">
            {{ errorMessagePerInput.valueColumnName }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2!">
        <label class="col-md-2 col-form-label"
              for="dateFormat">Date Format</label>
        <div class="col-md-4">
          <input class="form-control"
                id="dateFormat"
                type="text"
                placeholder="Date format followed in excel (required)"
                formControlName="dateFormat"
                [ngClass]="{'is-invalid': errorMessagePerInput.dateFormat }" />
          <span class="invalid-feedback">
            {{ errorMessagePerInput.dateFormat }}
          </span>
        </div>

        <div class="col-md-5">
          <mat-icon matTooltipClass="multiline-tooltip"
                    matTooltipPosition="right"
                    matTooltip="Date format according to Java SimpleData:
                    - year: yy or yyyy
                    - month: MM
                    - day: dd
                    - hour (0-12): hh
                    - hour (0-23): HH
                    - minute: mm
                    - seconds: ss
                    - milliseconds: SSS">
            help
          </mat-icon>
        </div>
      </div>

      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="csvLocation">CSV file</label>
        <div class="col-md-4">
          <input class="form-control"
                id="csvLocation"
                type="file"
                accept=".csv"
                (change)="onUpload($event)"
                formControlName="csvLocation"
                [ngClass]="{'is-invalid': errorMessagePerInput.csvLocation }" />
          <span class="invalid-feedback">
            {{ errorMessagePerInput.csvLocation }}
          </span>
        </div>
      </div>


      <div class="form-group row mb-2">
        <label class="col-md-2 col-form-label"
              for="numberOfValues">Number of values</label>
        <div class="col-md-4">
          <input class="form-control"
                id="numberOfValues"
                type="number"
                placeholder="Number of values to predict (required)"
                formControlName="numberOfValues"
                [ngClass]="{'is-invalid': errorMessagePerInput.numberOfValues }" />
          <span class="invalid-feedback">
            {{ errorMessagePerInput.numberOfValues }}
          </span>
        </div>
      </div>

      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
                  id="SaveButton"
                  type="submit"
                  style="width:80px"
                  [title]="settingsForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'"
                  [disabled]="!settingsForm.valid">
            Save
          </button>
        </div>
        <div class="col-md-5">
          <mat-spinner diameter="30" strokeWidth="2" color="accent" *ngIf="isWaitingForResult"></mat-spinner>
        </div>
      </div>
    </form>
  </div>

  <div class="alert alert-danger" *ngIf="errorMessage">
    {{errorMessage}}
  </div>
</div>
